<app-collapsable-list>

  <app-collapsable>
    <app-collapsableheader>
      this is the title of the panel
    </app-collapsableheader>

    <!-- The actual body of the content -->
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
    <p>
      this is the body of the panrel
    </p>
  </app-collapsable>

  <app-collapsable>
    <app-collapsableheader>
      this is the title of the panel
    </app-collapsableheader>

    <!-- The actual body of the content -->
    this is the body of the application
  </app-collapsable>


  <app-collapsable>
    <app-collapsableheader>
      this is the title of the panel
    </app-collapsableheader>

    <!-- The actual body of the content -->
    this is the body of the application
  </app-collapsable>


  <app-collapsable>
    <app-collapsableheader>
      this is the title of the panel
    </app-collapsableheader>

    <!-- The actual body of the content -->
    this is the body of the application
  </app-collapsable>


  <app-collapsable *ngIf="condition">
    <app-collapsableheader>
      this is the title of the panel
    </app-collapsableheader>

    <!-- The actual body of the content -->
    this is the body of the application
  </app-collapsable>

</app-collapsable-list>

<button mat-button>click me!</button>